/* ///// hide chrome scrollbar ///// */
*::-webkit-scrollbar {
    display: none;
  }
  * {
    margin: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  
  body {
    
    overflow: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  